@{
ViewData["Title"] = "Books";
}

<partial name="NavbarPartial"></partial>

<div style="width: 100%; text-align: right; margin: -1%">
    <a href="../../Filter/Dashboard/Unread" style='font-size:1.35em; text-decoration: none;' title="Show only unread books">&#128214;</a>
</div>

<div class="mx-auto" id="dashboard" style="width: 95%;">
    @foreach(var book in @ViewBag.AllBooks)
    {
        bool bookRead = false;
        bool onReadList = false;
        bool faved = false;

        @if(@ViewBag.ReaderInSession.ReadingList != null)
        {
            @foreach(var willRead in @ViewBag.ReaderInSession.ReadingList)
            {
                if(@willRead.BookID == @book.BookID)
                {
                    onReadList = true;
                }
            }        
        }  

        @if(@ViewBag.ReaderInSession.BooksRead != null)
        {
            @foreach(var readAlready in @ViewBag.ReaderInSession.BooksRead)
            {
                if(@readAlready.BookID == @book.BookID)
                {
                    bookRead = true;
                }
            }  
        }

        @if(@ViewBag.ReaderInSession.MyFaves != null)
        {
            @foreach(var liked in @ViewBag.ReaderInSession.MyFaves)
            {
                if(@liked.BookID == @book.BookID)
                {
                    faved = true;
                }
            }  
        }

        <!-- IF BOOK HAS NOT BEEN READ -->

        @if(bookRead == false)
        {
        <div id="bookCard" class="card" style="background-color: white">
            <div class="card-body">
                <h5 class="card-title"> 
                    <a href="DisplayBook/@book.BookID" style="color: black">@book.Title &nbsp;</a>
                    @if(onReadList == true)
                    {
                        <img style="justify-content: right" src="~/list.png" title="On Your Reading List">
                    }                        
                </h5>
                <a href="Filter/Author/@book.Author">
                    <h6 class="card-subtitle mb-2 text-muted">@book.Author</h6>
                </a>
                <p class="card-text">@book.Description</p>
                <p><a href="Filter/Genre/@book.Genre" class="card-link" style="color: rgb(9, 161, 9)">@book.Genre</a></p>
                <p style="display: inline">
        
                    @if(onReadList == false && bookRead == false)
                    {
                    <form action="WillRead/@book.BookID/Dashboard" method="post" style="display: inline">
                        <input type="hidden" name="@book.BookID">
                        <button title="Add to 'Books to Read' List"><img src="~/books.png"></button>
                    </form>
                    }
        
                    @if(bookRead == false)
                    {
                    <form action="DidRead/@book.BookID/Dashboard" method="post" style="display: inline">
                        <input type="hidden" name="@book.BookID">
                        <button title="Mark Book as 'Read'"><img src="~/checked.png"></button>
                        &nbsp;
                    </form>
                    }
        
                    @if(book.ReaderID == ViewBag.ReaderID)
                    {
                        <a href="EditBook/@book.BookID" style="display: inline; text-decoration: none" title="Edit Book">
                            <img src="~/edit.png">
                        </a>
                        <span>&nbsp;</span>
                        @if(@book.AddedAt.AddHours(1) > ViewBag.Deadline)
                        {
                            <!-- Button trigger confirmation modal -->
                            <button data-toggle="modal" data-target="#@book.BookCode" title="Delete Book">
                                <img
                                src="~/clear.png">
                            </button>
                        }
                    }
                </p>
            </div>
        </div>
        }

        <!-- IF BOOK HAS BEEN READ -->

        @if(bookRead == true)
        {
            <div id="bookCard" class="card" style="background-color: rgb(197, 248, 197)">
                <div class="card-body">
                    <h5 class="card-title"> 
                        <a href="DisplayBook/@book.BookID" style="color: black">@book.Title</a> 
                        @if(faved == true)
                        {
                            <span style="justify-content: right; font-size: 0.75em" title="A Favorite">&nbsp; &#128151;</span>
                        }   
                    </h5>
                    <a href="Filter/Author/@book.Author">
                        <h6 class="card-subtitle mb-2 text-muted">@book.Author</h6>
                    </a>
                    <p class="card-text">@book.Description</p>
                    <p><a href="Filter/Genre/@book.Genre" class="card-link" style="color: rgb(9, 161, 9)">@book.Genre</a></p>
                    <p style="display: inline">

                        @if(faved == false)
                        {
                        <form action="AddToFaves/@book.BookID/Dashboard" method="post" style="display: inline">
                            <input type="hidden" name="@book.BookID">
                            <button title="Add as Favorite" style="padding: 0">&#128154; &nbsp;</button>
                        </form>
                        }
            
                        @if(book.ReaderID == ViewBag.ReaderID)
                        {
                            <a href="EditBook/@book.BookID" style="display: inline; text-decoration: none" title="Edit Book">
                                <img src="~/edit.png">
                            </a>                            
                            <span>&nbsp;</span>
                            @if(@book.AddedAt.AddHours(1) > ViewBag.Deadline)
                            {
                                <!-- Button trigger confirmation modal -->
                                <button data-toggle="modal" data-target="#@book.BookCode" title="Delete Book">
                                    <img src="~/clear.png">
                                </button>
                            }
                        }
                    </p>
                </div>
            </div>
        }
    }    
</div>

<!-- Delete Book Confirmation Modal -->
@foreach(var book in ViewBag.AllBooks)
{
    <div class="modal fade" id="@book.BookCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete '@book.Title'?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="Delete/@book.BookID/Dashboard" method="post" style="display: inline">
                        <input type="hidden" name="@book.BookID">
                        <button class="btn btn-danger" title="Delete Book">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>


<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<div>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<div>Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->