@model Lybrary.Models.Book

@{
ViewData["Title"] = @Model.Title;
}

<partial name="NavbarPartial"></partial>

<div class="mx-auto" id="displayDashboard">

    <div style="width: 40%">
        <h2>@Model.Title</h2>
        <h6 style="font-style: italic">By @Model.Author</h6>
        <hr>
        <p style="font-style: italic">@Model.Description</p>
    </div>

    <div style="width: 50%">
        <h4 style="font-family: serif; font-style: italic">Comments:</h4>
        <div id="notebook">
            @if(@Model.BookComments.Count > 0)
            {
                @foreach(var c in @Model.BookComments)
                {
                    <p><span style="font-weight: bold">@c.TheReader.FirstName: </span>@c.Content</p>
                    <p style="font-size: 0.5em">@c.CommentedAt</p>
                    <br>
                }
            }
            else
            {
                <p>There are no comments yet.</p>
            }
        </div>
    </div>

</div>