@using Lybrary.Models
@model Reader

@{
ViewData["Title"] = "Update Account";
}

<partial name="NavbarPartial"></partial>

<!-- ALERTS -->
@if(ViewBag.UpdateError != null)
{
    <div class="mx-auto" style="width: 35%; text-align: center">    
        <div class="alert" >
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewBag.UpdateError
        </div>
    </div>
}

<div style="color: #fff; font-family: 'Roboto', sans-serif;">
    <div class="signup-form">

        @if(ViewBag.info == "Name")
        {
            <form action="../../SaveUpdate/Name" method="post">
                <h3 style="text-align: center">Update Your @ViewBag.info</h3>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="Firstname"
                                placeholder="@ViewBag.ReaderInSession.FirstName" required="required"></div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="Lastname"
                                placeholder="@ViewBag.ReaderInSession.LastName" required="required"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
                </div>
            </form>
        }

        @if(ViewBag.info == "Email")
        {
            <form action="../../SaveUpdate/Email" method="post">
                <h3 style="text-align: center">Update Your @ViewBag.info</h3>
                <hr>
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control" name="email"
                        placeholder="@ViewBag.ReaderInSession.Email" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
                </div>
            </form>
        }

        @if(ViewBag.info == "Password")
        {
            <form action="../../SaveUpdate/Password" method="post">
                <h3 style="text-align: center">Update Your @ViewBag.info</h3>
                <hr>
                <div class="form-group">
                    <input type="password" class="form-control" name="CurrentPassword" placeholder="Current Password"
                        required="required">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" name="Password" placeholder="Password"
                        required="required" minlength="8">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="ConfirmPassword"
                        placeholder="Confirm Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
                </div>
            </form>
        }

    </div>
</div>