@{
ViewData["Title"] = "Your Account";
}

<partial name="NavbarPartial">

    <div class="mx-auto" style="width: 65%">
        <br>
        <h5>Name on account - <span style="font-weight: normal; font-style: italic">@ViewBag.ReaderInSession.FirstName @ViewBag.ReaderInSession.LastName</span></h5>
        <h5>Current email address - <span style="font-weight: normal; font-style: italic">@ViewBag.ReaderInSession.Email</span></h5>
        <a href="../UpdateAccount"><button id="updateButton">Update Your Info</button></a>
        <hr>
        @if(ViewBag.ReaderInSession.BooksRead == null)
        {
            <h6>Number of Books Read: &nbsp;<span style="font-weight: normal;">0</span></h6>
        }
        else
        {
            <h6>Number of Books Read: &nbsp;<span style="font-weight: normal;">@ViewBag.ReaderInSession.BooksRead.Count</span></h6>
        }
        <h6>Number of Books Added: &nbsp;<span style="font-weight: normal;">@ViewBag.NumAdded</span></h6>
        <h6>Books on Reading List: 
            @if(ViewBag.ReaderInSession.ReadingList == null) 
            {
                <span style="font-weight: normal; font-style: italic">You currently have no books on your 'To Read List'.</span>
            }
        </h6>
        <ul>
            @if(ViewBag.ReaderInSession.ReadingList != null)
            {
                @foreach(var book in ViewBag.ReaderInSession.ReadingList)
                {
                    <li>@book.TheBook.Title</li>
                }
            }
        </ul>
    </div>